.popOver {
    position: absolute;
    z-index: 2;
    height: 0;

    left: 20px;
    top: -20px;
}

.cover {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.innerWrapper {
    position: relative;
    height: auto;
}
