@import "src/Static/Styles/_globals.scss";

.body {
    overflow: hidden;
}

.container {
    padding: 0 20px;
    max-width: 1200px;
    margin: 0 auto;
    height: 100vh;
    display: grid;
    grid-template-rows: 150px 1fr;

    @media screen and (max-width: $size-limited) {
        max-width: 800px;
    }
    @media screen and (max-width: $size-mobile) {
        padding: 0 10px;
        grid-template-rows: 90px 1fr;
    }
}

.layout {
    display: grid;
    grid-template-columns: 350px 1fr;
    gap: 10px;

    @media screen and (max-width: $size-compact) {
        grid-template-columns: 300px 1fr;
    }

    @media screen and (max-width: $size-limited) {
        display: block;
    }
}

.leftTab {
    display: flex;
    flex-direction: column;
    @media screen and (max-width: $size-limited) {
        display: none;
    }
}
