@import "src/Static/Styles/_globals.scss";

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.picker {
  width: 100px;
  background: linear-gradient(
                  270deg,
                  #15579999,
                  #EC6EAD99,
                  #ef6b5099,
                  #ef8e3899,
                  #f2949299,
                  #DBD5A499,
                  #E7E9BB99,
                  #bdc3c755
  );
  height: 8px;
  border-radius: 10px;
}

.thumb {
  cursor: pointer;
  z-index: 100;
  border: 8px solid $color-accent;
  border-radius: 100%;
  margin-top: -4px;

  &:focus {
    outline: none;
  }
}

.icon {
  width: 25px;
}